<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dynamic HTML</title>
<link rel="stylesheet" type="text/css" href="styles0.css">
</head>
<body>
	<ul>
		<li><a href=https://github.com/hypad590/TaskManagement>TaskManagement</a></li>
		<li><a href=https://github.com/hypad590/LibraryManaging>LibraryManaging</a></li>
		<li><a href=https://github.com/hypad590/physShad>physShad</a></li>
		<li><a href=https://github.com/hypad590/TaskManager>TaskManager</a></li>
		<li><a href=https://github.com/hypad590/vaadin>vaadin</a></li>
		<li><a href=https://github.com/hypad590/springAnnotations>springAnnotations</a></li>
		<li><a href=https://github.com/hypad590/springTests>springTests</a></li>
		<li><a href=https://github.com/hypad590/BinaryTree>BinaryTree</a></li>
		<li><a href=https://github.com/hypad590/files>files</a></li>
		<li><a href=https://github.com/hypad590/avby>avby</a></li>
		<li><a href=https://github.com/hypad590/hypad590>hypad590</a></li>
		<li><a href=https://github.com/hypad590/--->---</a></li>
	</ul>
</body>
</html>